body {
    background: rgb(210,60,50);
    background: linear-gradient(115deg, rgba(210,60,50,1) 16%, rgba(222,84,36,1) 17%, rgba(222,84,36,1) 77%, rgba(210,60,50,1) 78%);
    height: 1000px;
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    /* position: relative; */
    /* height: fit-content; */
    display: flex;
    font-family: Verdana, sans-serif;
    /* max-width: 300px; */
    border-radius: 10px;
    color: black;
    justify-content: space-around;
    /* text-align: center; */
    font-family: 'Francois One', sans-serif;
    padding: 10px;
    margin: 0 auto;
    /* background: linear-gradient(to right, red, rgb(243, 197, 47)); */
    /* border: 1px solid black; */
}

.poke-name {
    font-size: 40px;
}

/* .poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
} */

.img-container {
    /* position: relative; */
    /* width: 180px; */
    margin: 10px;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}

.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-stats{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.poke-types div{
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px dashed black;
    text-shadow: 1.5px 2px 1px black;
}
