body {
    height: 950px;
    /* background: rgb(210,60,50);
    background: linear-gradient(110deg, rgba(210,60,50,1) 16%, rgba(223,110,71,1) 17%, rgba(223,110,71,1) 77%, rgba(210,60,50,1) 78%); */
    background: rgb(53,183,143);
    background: linear-gradient(115deg, rgba(53,183,143,1) 5%, rgba(93,50,210,1) 31%, rgba(76,106,182,1) 74%, rgba(49,195,137,1) 100%);
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    /* position: relative; */
    /* height: fit-content; */
    display: flex;
    font-family: Verdana, sans-serif;
    max-width: 80%;
    /* border-radius: 10px; */
    color: black;
    justify-content: space-around;
    /* text-align: center; */
    font-family: 'Francois One', sans-serif;
    padding: 10px;
    margin: 5% auto;
    /* background: linear-gradient(to right, red, rgb(243, 197, 47)); */
    /* border: 1px solid black; */
}

.poke-detail {
    display: grid;
    grid-template-columns: 15% 20% 65%;
    width: 500px;
    color: white;
    background-color: black;
    background: rgb(210,90,50);
    background: linear-gradient(105deg, rgb(216, 60, 8) 30%, rgba(0,0,0,1) 31%);
}

.poke-id {
    font-size: 20px;
    align-self: center;
}

.poke-name {
    font-size: 30px;
    align-self: center;
}

.poke-img-lt {
    width: 70px;
    justify-self: start;
}

/* .poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
} */

.img-container {
    margin: 10px;
}

.poke-img {
    width: 380px;
    border-radius: 50%;
}

.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-stats{
    background-color: white;
}

.poke-types div{
    padding: 5px;
    margin: 5px 0;
    background-color: white;
    /* border: 1px dashed black; */
    text-shadow: 1.5px 2px 1px black;
    text-align: center;
}

