body {
    margin: 0;
    /* background: rgb(210,60,50);
    background: linear-gradient(110deg, rgba(210,60,50,1) 16%, rgba(223,110,71,1) 17%, rgba(223,110,71,1) 77%, rgba(210,60,50,1) 78%); */
    background: rgb(53,183,143);
    background: linear-gradient(115deg, rgba(53,183,143,1) 5%, rgba(93,50,210,1) 31%, rgba(76,106,182,1) 74%, rgba(49,195,137,1) 100%);
}

h1 {
    color: white;
    text-align: center;
    margin: 28px auto;
    font-family: 'Architects Daughter', cursive;
    font-size: 3em;
}

form {
    width: 500px;
    margin: 20px auto;
}

label {
    color: white;
    font-size: 15px;
    display: block;
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
}

input {
    font-size: 20px;
    width: 200px;
    padding: 10px;
    background: none;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid cadetblue;
    margin-top: 5px;
    color: white;
    outline: none;
    transition: all 0.4s ease-in-out;
}

input:focus{
    width: 300px;
}

.poke-card {
    height: 405px;
    display: flex;
    max-width: 80%;
    color: black;
    justify-content: space-around;
    font-family: 'Francois One', sans-serif;
    padding: 10px;
    margin: 5% auto;
}

.poke-detail {
    display: grid;
    grid-template-columns: 15% 20% 65%;
    width: 500px;
    color: white;
    background: rgb(210,90,50);
    background: linear-gradient(105deg, rgb(216, 60, 8) 30%, rgba(0,0,0,1) 31%);
}

.poke-id {
    font-size: 20px;
    align-self: center;
}

.poke-name {
    font-size: 30px;
    align-self: center;
}

.poke-img-lt {
    width: 70px;
    justify-self: start;
}

.img-container {
    margin: 10px;
}

.poke-img {
    width: 380px;
    border-radius: 50%;
}

.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-stats{
    background-color: white;
}

.poke-types div{
    padding: 5px;
    margin: 5px 0;
    background-color: white;
    /* border: 1px dashed black; */
    text-shadow: 1.5px 2px 1px black;
    text-align: center;
}

footer {
    background: black;
    color: white;
    padding: 30px;
    text-align: center;
}

/* .poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
} */

.arrows-container {
    display: flex;
}

#previous, #next {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
    transition: all .4s ease-out;
}

#previous {
    margin-right: 10px;
}

#next {
    margin-left: 10px;
}

#previous::before {
    content: '◀';
    position: relative;
    bottom: 2px;
    left: 5px;
}

#next::before {
    content: '▶';
    position: relative;
    bottom: 2px;
    left: 10px;
}

#previous:hover, #next:hover {
    color: black;
    border: 2px solid black;
    transform: rotate(360deg);
}
